# Build files
tmp_build_dir/
d/
f/
o/
t/
*.ex
*.dSYM
*.[oa]
TAGS
ipo_out.optrpt

# editors
.vscode
.*.sw[n-p]

# Example output
chk*/
plt*/
Backtrace.*
pout.*
*.out
*.dat
Weyl_integral*
*ExtractionOut_*

# Job schedulers
jobscript*
*.pbs

# Documentation
Doxygen/html

# other
.bashrc
*.s
.DS_Store
log*
*.patch
*.log